<nav class="navbar navbar-light bg-primary navbar-toggleable-md">
  <button (click)="toggleCollapseNavbar()" class="navbar-toggler navbar-toggler-right" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" [routerLink]="['/']"><i class="fa fa-fw fa-pencil-square-o"></i>&nbsp;SimpleVote</a>
  <div [class.collapse]="collapseNavbar" class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link active" [routerLink]="['/']">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/dessalines/simple-vote" target="_blank">About</a>
      </li>
      <li class="nav-item">
        <button role="button" class="btn btn-outline-primary mx-2"
           (click)="createPoll()">Create a poll</button>
      </li>
      <li class="nav-item">
        <a role="button" class="nav-link link-unstyled" placement="bottom" tooltip="Donate to the developer" href="https://paypal.me/THoulihan" target="_blank"><small><i class="fa fa-fw fa-beer"></i></small></a>
      </li>
    </ul>
    <ul class="navbar-nav my-lg-0">
      <li class="nav-item">
        <span class="nav-link" role="button" (click)="changeUserName()" placement="bottom" tooltip="Change UserName">
          <i class="fa fa-fw fa-user"></i>
        </span>
      </li>
      <li [hidden]="true" class="nav-item">
        <a class="nav-link" role="button" (click)="logout()" placement="left" tooltip="Logout">
          <i class="fa fa-fw fa-sign-out"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>
<app-new-user-modal *ngIf="showUpdateUserComponent" [createNewUser]=false></app-new-user-modal>
