<div class="card mb-3">
  <div class="card-body">
    <h4 class="card-title mb-1" *ngIf="!this.question.editing">
      <span *ngIf="question.title" [innerHtml]="question.title | markdown" class="mr-2"></span>
      <span *ngIf="!question.title" class="mr-2">Untitled question</span>
      <ul class="list-inline pointer edits">
        <li class="list-inline-item" role="button" (click)="toggleEditing()" *ngIf="question.editable">edit</li>
        <li class="list-inline-item" role="button" (click)="deleteQuestion()" *ngIf="question.editable">delete</li>
        <li class="list-inline-item" role="button" (click)="toggleDetails()">{{detailsExpander()}}</li>
        <li class="list-inline-item" *ngIf="isExpired()">
          <i>expired</i>
        </li>
      </ul>
    </h4>

    <div *ngIf="showDetails" class="mb-3">
      <h4>Details</h4>
      <div>Creator: {{question.user.name}}</div>
      <div>Creation date: {{question.created | moment}}</div>
      <div *ngIf="question.expire_time">expire time: {{question.expire_time | moment}}</div>
      <div *ngIf="!question.expire_time">No expiration</div>
      <div>
        <span tooltip="A percentage cutoff that removes candidates with too few votes">Threshold: {{question.threshold}}%
        </span>
      </div>
      <div>
        <label class="form-check-label">
          <input disabled type="checkbox" class="form-check-input" name="users_can_add_candidates" [(ngModel)]="question.users_can_add_candidates"> Users can add candidates
        </label>
      </div>
      <div>
        <label class="form-check-label">
          <input disabled type="checkbox" class="form-check-input" name="anonymous" [(ngModel)]="question.anonymous"> Anonymous
        </label>
      </div>
      <div class="form-group row">
        <label class="col-md-4 col-form-label">Type</label>
        <div class="btn-group col-md-8">
          <label class="btn btn-outline-primary" [class.active]="question.question_type_id==1">Range</label>
          <label class="btn btn-outline-primary" [class.active]="question.question_type_id==3">Approval</label>
          <label class="btn btn-outline-primary" [class.active]="question.question_type_id==2">Pointing Poker</label>
        </div>
      </div>
    </div>
    <form *ngIf="this.question.editing" (ngSubmit)="updateQuestion()" #questionForm="ngForm">
      <h4>Edit Question</h4>
      <div class="form-group row">
        <label class="col-md-2 col-form-label">Title</label>
        <div class="col-md-10">
          <input type="text" class="form-control" autofocus maxlength="255" [(ngModel)]="question.title" name="question_title" placeholder="Enter your question name...">
        </div>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" name="users_can_add_candidates" [(ngModel)]="question.users_can_add_candidates"> Users can add candidates
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" name="anonymous" [(ngModel)]="question.anonymous"> Anonymous
        </label>
      </div>
      <div class="form-group row">
        <label class="col-md-4 col-form-label">Type</label>
        <div class="btn-group col-md-8">
          <label class="btn btn-outline-primary" name="range_btn" [class.active]="question.question_type_id==1" (click)="question.question_type_id = 1">Range</label>
          <label class="btn btn-outline-primary" name="approval_btn" [class.active]="question.question_type_id==3" (click)="question.question_type_id = 3">Approval</label>
          <label class="btn btn-outline-primary" name="pp_btn" [class.active]="question.question_type_id==2" (click)="question.question_type_id = 2">Pointing Poker</label>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-4 col-form-label">
          <span tooltip="A percentage cutoff that removes candidates with too few votes">Threshold: {{question.threshold}}%</span>
        </label>
        <div class="col-md-8">
          <input type="range" name="question_threshold" [value]="question.threshold" class="form-control" (mouseup)="question.threshold=$event.target.value"
            (touchend)="question.threshold=$event.target.value" (input)="question.threshold=$event.target.value" (value)="question.threshold"
            type="range" min="0" max="100" step="1">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-4 col-form-label">Expire time:
          <span *ngIf="question.expire_time">{{question.expire_time | moment}}</span>
        </label>
        <div class="col-md-8">
          <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker [(bsValue)]="expireDate" name="question_expire_time">
        </div>
      </div>
      <button class="btn btn-primary" type="submit" role="button" [disabled]="!questionForm.form.valid">Save</button>
    </form>
    <div *ngIf="!this.question.editing">
      <div *ngFor="let candidate of question.candidates; let i = index">
        <app-candidate [candidate]="candidate" [anonymous]="question.anonymous" [expired]="isExpired()" [questionType]="question.question_type_id">
        </app-candidate>
      </div>
      <button *ngIf="canCreateCandidate() && !isExpired() && !question.readOnly" class="btn btn-outline-primary" (click)="createCandidate()"
        role="button">
        <i class="fa fa-fw fa-plus "></i>Add an option</button>
    </div>
  </div>
</div>