<div class="container-fluid">
  <hr class="featurette-divider">
  <footer>
    <p class="pull-right"><a href="#">back to home</a>
    </p>
    <p>© 2017 SimpleVote, Inc. · <a href="https://github.com/dessalines/simple-vote"
        target="_blank">about</a> · <a href="https://github.com/dessalines/simple-vote"
        target="_blank">contact</a> · <a href="https://github.com/dessalines/simple-vote"
        target="_blank">support</a> · <a href="https://github.com/dessalines/simple-vote"
        target="_blank">github</a> · <a href="https://www.reddit.com/r/simple-vote/">subreddit</a>
      <br>
    </p>
  </footer>
</div>
