.nowrap {
  white-space: nowrap;
}

table {
  max-height: 500px;
  font-size: .7rem;
}

td {
  padding-right: 8px;
}

.square-input {
  font-size: .7rem;
  border-radius: 0;
  border-bottom: 0;
  border-left: 0;
}

.square-btn {
  border-radius: 0;
  border-right: 0;
  border-bottom: 0;
}
