<div *ngIf="poll" class="row">
  <div class="col-lg-8">
    <h1 *ngIf="!editing">
      <span *ngIf="poll.title">{{poll.title}}</span>
      <span *ngIf="!poll.title">Untitled poll</span>
      <small role="button" (click)="editing=!editing" *ngIf="poll.editable"><i class="fa fa-fw fa-pencil-square-o"></i></small>
    </h1>
    <form *ngIf="editing" (ngSubmit)="updatePollTitle()">
      <div class="input-group">
        <input type="text" class="form-control" [(ngModel)]="poll.title" name="poll_title" placeholder="Enter your poll name...">
        <span class="input-group-btn">
            <button class="btn btn-primary" type="submit">Save</button>
          </span>
      </div>
    </form>
    <br>
    <div *ngFor="let question of poll.questions">
      <app-question [question]="question"></app-question>
    </div>
  </div>
  <div class="col-lg-4">
    <app-chat [poll]="poll"></app-chat>
  </div>
</div>
<app-new-user-modal (userCreated)="userCreated()"></app-new-user-modal>
