<div *ngIf="poll" class="row">
  <div class="col-lg-8">
    <div class="card mb-3">
      <div class="card-body">
        <h2 class="card-title" *ngIf="!this.poll.editing">
          <span *ngIf="poll.title" [innerHtml]="poll.title | markdown"></span>
          <span *ngIf="!poll.title">Untitled poll</span>
          <small role="button" (click)="toggleEditing()" *ngIf="poll.editable"><i class="fa fa-fw fa-pencil-square-o" tooltip="Edit poll"></i></small>
          <small role="button" (click)="deletePoll()" *ngIf="poll.editable" tooltip="Delete poll"><i class="fa fa-fw fa-trash"></i></small>
          <small role="button" (click)="toggleDetails()" tooltip="Show details">{{detailsExpander()}}</small>
          <small role="button" (click)="exportPoll()" tooltip="Export poll (.json)"><i class="fa fa-fw fa-floppy-o mb-2"></i></small>
          <br>
          <button class="btn btn-outline-info" role="button" (click)="toggleHelp()">
            <span *ngIf="!showHelp"><i class="fa fa-fw fa-question-circle"></i>How does this work?</span>
            <span *ngIf="showHelp">Hide</span>
          </button>
        </h2>
        <div *ngIf="showHelp">
          <h4>Think of this like olympic score voting</h4>
          <img class="img-fluid" src="https://miracleon32ndstreet.files.wordpress.com/2010/12/image12.png"/>
          <ul>
            <li>Move the slider right (higher) if you like the option, left if you don't.</li>
            <li><b>You don't have to vote for every option</b>, not voting won't hurt your current votes.</li>
          </ul>
        </div>
        <div *ngIf="showDetails">
          <h4>Details</h4>
          <div>Creator: {{poll.user.name}}</div>
          <label class="form-check-label">
            <input disabled type="checkbox" class="form-check-input"
              name="users_can_add_questions" [(ngModel)]="poll.users_can_add_questions"> Users can add questions
          </label>
        </div>
        <form *ngIf="this.poll.editing" (ngSubmit)="updatePoll()">
          <h2>Edit Poll</h2>
          <div class="form-group row">
            <label class="col-md-2 col-form-label">Title</label>
            <div class="col-md-10">
              <input type="text" class="form-control" [(ngModel)]="poll.title"
                name="poll_title" placeholder="Enter your poll name..." autofocus>
            </div>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" name="users_can_add_questions"
                [(ngModel)]="poll.users_can_add_questions"> Users can add questions
            </label>
          </div>
          <button class="btn btn-primary" type="submit" role="button">Save</button>
          <br>
        </form>
      </div>
    </div>
    <div *ngIf="!this.poll.editing">
      <div *ngFor="let question of poll.questions">
        <app-question [question]="question"></app-question>
      </div>
      <button *ngIf="canCreateQuestion()" class="btn btn-outline-primary mb-3"
        (click)="createQuestion()" role="button"><i class="fa fa-fw fa-plus"></i>Add a question</button>
    </div>
  </div>
  <div class="col-lg-4">
    <app-chat [poll]="poll"></app-chat>
  </div>
</div>
<app-new-user-modal (userCreated)="userCreated()"></app-new-user-modal>
<div bsModal #reconnectModal="bs-modal" class="modal fade"
  [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
  aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-center">
        <p>Click to Reconnect...</p>
        <button class="btn btn-primary" (click)="websocketReconnect()" role="button">Reconnect</button>
      </div>
    </div>
  </div>
</div>
